@font-face {
    font-family: inkFree;
    src: url(../assets/fonts/Inkfree.ttf);
}
:root{
    --black: #27271F;
    --green: #2E8B57;
    --solidGreen: #006400;
    --white: #E5E5EF;
    --whiteOverlay: rgba(227,227,237,0.4);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    scroll-behavior: smooth;
}
.container{
    position: relative;
    z-index: 0;
}
.active-navLink{
    color: var(--green);
    border-bottom: 3px solid var(--green);
}
.section-border h2{
    font-family: inkFree;
    letter-spacing: 7px;
    color: var(--white);
    
    text-align: center;
}
/* MAIN NAVIGATION START*/
header .mainNav{
    position: fixed;
}
.logo{
    height: 4rem;
}
.logo:hover{
    cursor:pointer;
    opacity: 0.8;
}
#mainNav-checkbox{
    display: none;
}
.toggle-button-icons{
    display: none;
}
.toggle-bar-icon,
.toggle-x-icon{
    height: 2rem;
}
.toggle-bar-icon:hover{
    cursor: pointer;
    opacity: 0.5;
}
.toggle-x-icon{
    display: none;
}
.toggle-x-icon:hover{
    cursor: pointer;
    opacitY: 0.5;
}
.mainNav li, a{
    list-style: none;
    text-decoration: none;
}
.mainNav{
    padding: .5rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
    width: 100%;
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    border-bottom: 1.5px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    z-index: 9999;
}
.nav-links{
    display: flex;
    height: 40px;
    justify-content: end;
    align-items: end;
    margin-left: 120px;
    gap: 4rem;
}
.navLink_home:hover{
opacity: 0.5;
}
.navLink_about:hover{
    opacity: 0.5;
}
.navLink_portfolio:hover{
    opacity: 0.5;
}
.navLink_gallery:hover{
    opacity: 0.5;
}
/* GET IN TOUCH BUTTON */
.btn-get-in-touch{
    font-size: 17px;
    background-color: var(--green);
    padding: .7rem 1.5rem;
    color: #E5E5EF;
    border-radius: 30px;
    transition: .5s ease-in-out;
}
.btn-get-in-touch:hover{
    cursor:pointer;
    background-color: var(--solidGreen);
}

/* DROPDOWN MENU */
.mainNav-dropdown-menu{
    display: flex;
    position: absolute;
    flex-direction: column;
    right: 2rem;
    top: 5.5rem;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.6);
    /*backdrop-filter: blur(15px)*/;
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubit-bezier(0.175, 0.885, 0.32, 1.275);
    
}
.mainNav-dropdown-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainNav-dropdown-menu .btn-get-in-touch{
    width: 100%;
    display: flex;
    justify-content: center;
}
.mainNav-dropdown-menu a{
    opacity: 0;
    transform: translateY(-50px);
    transition: .3s ease-in-out;
}
#mainNav-checkbox:checked~.mainNav-dropdown-menu{
height: 240px;
}
#mainNav-checkbox:checked~.mainNav-dropdown-menu a{
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(.15s * var(--i));
}
/* MAIN NAVIGATION END*/

/* HERO BANNER */
.hero_banner_home{
    position: relative;
    background: url("../assets/images/home_banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem 5%;
}
.hero_banner_firstName{
    margin-top: -150px;
}
.hero_banner_lastName{
    margin-left: 5rem;
    margin-top: -25px;
}
.hero_banner_hr{
    width: 305px;
    height: 4px;
    background: var(--black);
    border-radius: 25px;
    margin-left: 40px;
    margin-top: -5px;
}
.hero_banner_career h1{
    font-size: 55px;
    color: var(--green);
    letter-spacing: 15px;
    margin-top: -5px;
}
.hero_banner_subCareer{
    display: flex;
    width: 390px;
    margin-top: -7px;
    align-items: center;
    justify-content: space-between;
}
.hero_banner_subCareer h2{
    letter-spacing: 7px;
}
.hero_banner_subCareer .circle{
    width: 10px;
    height: 10px;
    margin-top: 5px;
    background-color: var(--black);
    border-radius: 10px;
}
.hero_banner_callToAction{
    display: flex;
    width: 390px;
    align-items: end;
    justify-content: center;
}
.hero_banner_arrow_down{
    display: block;
    position: absolute;
    bottom: 30px;
    left: 50%;
}
.hero_banner_arrow{
    height: 45px;
    animation: arrowDown_idle 2s;
    animation-iteration-count: infinite;
}
.hero_banner_arrow:hover{
    cursor: pointer;
    opacity: 0.7;
    animation-play-state: paused;
}
@keyframes arrowDown_idle{
    from{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    to{
        transform: translateY(0px);
    }
}
.btn_view_portfolio{
    position: relative;
    font-size: 18px;
    color: var(--green);
    font-weight: bold;
    padding: .5rem 2.5rem;
    background-color: var(--white);
    border: 3px solid var(--green);
    transition: 0.3s ease-in-out;
}
.view_portfolio_container{
    position: relative;
    margin-top: 45px;
    z-index: 1;
}
.btn_view_portfolio:hover{
    cursor: pointer;
    color: var(--white);
    background-color: var(--green);
}
.section-border{
    display: flex;
    background-color: var(--black);
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    font-size: 20px;
}
/* PORTFOLIO SUMMARY */
.portfolio-summary{
    background: url("../assets/images/porfolio_summary.jpg");
    box-shadow: inset 0 0 0 2000px var(--whiteOverlay) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding: .5rem 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.portfolio-summary-header{
    padding: 2rem 0;
    text-align: center;
    font-size: 27px;
}
.carousel-container{
    position: relative;
    max-width: 1100px;
    width: 100%;
}
/* carousel start */

.carousel-container ul.carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}
.carousel::-webkit-scrollbar{
    display: none;
}
.carousel :where(.card, .img){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.carousel.no-transition{
    scroll-behavior: auto;
}
.carousel.dragging{
    scroll-snap-type: none;
    scroll-behavior: auto;
}
/*carousel cards start*/
.carousel-container ul li.card {
    background-color: rgba(255,255,255,0.3);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.4);
    backdrop-filter: blur(5px);
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    height: 500px;
}
.carousel.dragging .card{
    cursor: grab;
    user-select: none;
}
/*carousel cards end*/
/*carousel buttons start*/
.carousel-container i{
    position: absolute;
    height: 40px;
    width: 40px;
    /*padding: 14px 7px 1px;*/
    background: rgba(255,255,255,0.3);
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    top: 45%;
    cursor: pointer;
    z-index: 1;
}
.carousel-container i:first-child{
    left: -22px;
}
.carousel-container i:first-child:hover,
.carousel-container i:last-child:hover
{
    scale: 1.07;
}
.carousel-container i:last-child{
    right: -22px;
}
.carousel-container i#btn-scroll-left{
    padding: 7px 6px 10px 7px;  
}
.carousel-container i#btn-scroll-right{
    padding: 7px 10px 1px 7px;  
}
.carousel-container li{
    list-style-type: none;
}
.carousel-container i.icon img{
height: 25px;
}
/*carousel buttons end*/

/* carousel end */
.portfolio-summary-button{
    display: flex;
    justify-content: center;
    padding: 4rem 0;
}
.btn-view-more{
    font-size: 17px;
    background-color: var(--white);
    padding: .7rem 1.5rem;
    border: 2px solid var(--green);
    color:  var(--green);
    font-weight: bold;
    border-radius: 30px;
    transition: .3s ease-in-out;
}
.btn-view-more:hover{
 background-color: var(--green);   
 scale: 1.05;
 color: var(--white);
}
/*Skills Section*/
.section-skills{
    background-color: black;
    display: relative;
    height: 100vh;
}
/*footer*/
footer{
    position: relative;
    background-color: var(--black);
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.col{
    position: relative;
    width: 440px;
    height: 190px;
}
.col-mid{
    display: flex;
    justify-content: center;

}
.footer-logo-white{
    position: relative;
    background-color: #006400;
    width: 110px;
}
.logo-white{
    position: relative;
    width: 400px;
    padding: 1rem 0;
    
}
/* About Page start*/
.hero_banner_about{
    position: relative;
    background: url("../assets/images/About_Me_Banner.jpg");
    box-shadow: inset 0 0 0 2000px var(--whiteOverlay) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding: .5rem 5%;
    transition: 0.5s ease;
}
.hero_banner_container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 25px;
    padding-left: 10px;
    height: 260px;
}
.hero_banner_gallery{
    position: relative;
    display: flex;
    justify-content: end;
    align-items: end;
}
.hero_banner_container_gallery{
    position: relative;
    display:flex;
    border-radius: 25px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    height: 400px;
    width: 700px;
    padding-left: 15px;
    padding-bottom: 10px;
}
.hero_banner_container#banner_about{
    top: 20%;
    width: 820px;
}
.hero_banner_container#banner_portfolio{
    top: 25%;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    width: 820px;
}
.banner_header{
    font-size: 5.5rem;
    letter-spacing: 2.3rem;
    font-weight: 400;
    margin-bottom: -10px;
}
.banner_underline{
    border: 2px solid var(--black);
    border-radius: 50px;
    width: 650px;
    color: var(--black)
}
.banner_subtext{
    font-size: 2.2rem;
    font-family: inkfree;
    color: var(--green);
}
.banner_row{
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: rotate(270deg);
    top: 225px;
    right: 60px;
}
.banner_subtext_gallery{
    font-size:1.3rem;
    letter-spacing: 11px;
    font-weight: 500;
    color: var(--green);
}
.banner_underline_gallery{
    border: 2px solid var(--black);
    border-radius: 50px;
    color: var(--black);
}
#subtext_vert{
    position: absolute;
    margin-left: -145px;
}
#gallery_underline_vert{
    position: absolute;
    width: 350px;
    height: 4px;
    border-radius: 25px;
    margin-top: 35px;
    background-color: var(--black); 
    margin-left: -150px;
}
.banner_author{
    font-size: 1.5rem;
    font-family: inkfree;
}
/* About Page end */
/*Portfolio Page start */
.hero_banner_portfolio{
    position: relative;
    background: url("../assets/images/Portfolio_Banner.jpg");
    box-shadow: inset 0 0 0 2000px var(--whiteOverlay) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem 5%;
}
/*Portfolio Page end */
/*Gallery Page start */
.hero_banner_gallery{
    position: relative;
    background: url("../assets/images/Gallery_Banner.jpg");
    box-shadow: inset 0 0 0 2000px var(--whiteOverlay) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 3.5rem 5%;
}
/*Gallery Page end */
/*Get in Touch Page start */
.hero_banner_getInTouch{
    position: relative;
    background: url("../assets/images/Get_In_Touch_Banner.jpg");
    box-shadow: inset 0 0 0 2000px var(--whiteOverlay) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem 5%;
}
/*Get in Touch Page end */
/* MOBILE RESPONSIVE */
@media (max-width: 992px){
.nav-links,
.btn-get-in-touch{
    display: none;
}
.toggle-button-icons{
    display: block;
}
#mainNav-checkbox:checked~.toggle-button-icons .toggle-bar-icon{
    display: none;
}
#mainNav-checkbox:checked~.toggle-button-icons .toggle-x-icon{
    display: block;
}
.hero_banner_arrow_down{
    margin-left: -5px;
    bottom: 30px;
}
.carousel-container{
    margin: 10px;
}

.carousel-container #btn-scroll-left{
    margin-left: 10px;
}

.carousel-container #btn-scroll-right{
    margin-right: 10px;
}
.carousel-container ul.carousel{
    grid-auto-columns: calc((100% / 2) - 9px);
}
}
@media (max-width: 850px){
    .hero_banner_container{
        scale: 70%;
        left: -150px;
    }
    .hero_banner_container_gallery{
        scale: 70%;
        left: 100px;
        top: 8%;
    }
}
@media (max-width: 600px){
    .mainNav{
        padding: .5rem 3%;
    }
    .mainNav-dropdown-menu{
        width: 100%;
        right: 0;
    }
    .hero_banner_home{
        position: relative;
        padding: .5rem 3%;
        justify-content: center;
        align-items: center;
        z-index: -2;
    }
    .hero_banner_firstName{
        scale: 70%;
        margin-left: -55px;
    }
    .hero_banner_lastName{
        scale: 70%;
        margin-top: -45px;
        position: relative;
    }
    .hero_banner_hr{
        scale: 70%;
        margin-left: -5px;
        height: 3px;
    }
    .hero_banner_career,
    .hero_banner_subCareer{
        scale: 70%;
    }
    .section-border h2{
        font-size: 15px;
    }
    .logo-white{
        scale: 60%;
    }
    .card:nth-child(1),
    .card:nth-child(3){
        display: none;
    }
        
    .carousel-container ul.carousel{
        grid-auto-columns: 100%;
    }
    .hero_banner_container{
        scale: 40%;
        left: -230px;
    }
    
    .hero_banner_container_gallery{
        scale: 40%;
        left: 220px;
        top:16%;
    }
}
@media(max-height: 854px){
   
.hero_banner_arrow_down{
    margin-left: -5px;
    bottom: 80px;
} 
}
@media(max-width: 380px){
.hero_banner_firstName{
    scale: 60%;
    margin-left: -70px;
}
.hero_banner_lastName{
    scale: 60%;
}
.hero_banner_hr{
    scale: 60%;
    margin-left: -10px;
    height: 4px;
}
.hero_banner_career{
    scale: 60%;
}
.hero_banner_subCareer{
    scale: 60%;
}
.hero_banner_callToAction{
    scale: 70%;
}
.section-border h2{
    font-size: 14px;
}
.col{
    width: 235px;
}

.hero_banner_container{
    scale: 38%;
    left: -255px;
}

.hero_banner_container_gallery{
    scale: 38%;
    top: 23%;
}
}